:root{

    font-family: 'Roboto', sans-serif;

}




.topo{
    width: 100%;
    height: 80px;
    background-color: #29292e;
    border-bottom: 1px solid #121214;
    }

.menu ul{

    display: flex;
    justify-content:right;
    margin-right: 50px;
    
}

.menu ul li{

    padding-top: 30px;
    padding-right: 20px;
    color: white;
    font-size: larger;
  
}

.bcgmain{
    width: 100%;
    height: 2050px;
    background-color: #29292e

}

.sessaosobre{
    box-sizing: border-box;
    width: 642px; ;
    height: 600px;;
    padding-top: 170px;
    float: right;
    margin-right: 100px;
    
    
}

.form{
    box-sizing: border-box;
    width: 532px;
    font-size: xx-large;
    text-align: center;
    
}

.form  h1{
color: white;
font-weight: bold;


}


.form > p{
    font-size: 35px;
    padding-top: 5px;
    color: white;
}

.sessaomoldura{
    box-sizing: border-box;
    width: 700px; ;
    height: 600px;;
    padding-top: 95px;
    margin-left: 55px;
       
}

.moldura{
    box-sizing: border-box;
    width: 520px;
    height: 400px;
    background-color: #a8a8b3;
    margin-left: 100px;
    border: solid;
    border-color: #a8a8b3;
    border-radius: 76px;
    box-shadow: -55px -34px 6px 10px rgba(146, 139, 139, 0.1);
    display: flex;
    justify-content: center;
}


.moldura img{
    padding: 45px;
    width:400px;
    height: 300px;


}

.tituloobjetivo{
    text-align: center;
    font-size: 2em;
    color: white;
}

.sessaoobjetivo{
    box-sizing: border-box;
    width: 100%;
    height: 264px;
    margin-top: 100px;
}
.molduras{
  
 width: 100%;
 height: 264px;
 display: flex;
 margin-top: 55px;
justify-content: center;
 
}
.moldura1{
    box-sizing: border-box;
    width: 264px;
    height: 264px;
    background-color: #a8a8b3;
    border: 1px solid black;
    border-radius: 101px;
    
    display: flex;
    justify-content: center;
    padding-top: 25px;
    box-shadow: -26px 14px 20px -6px rgba(247, 245, 245, 0.1);
}

.moldura2{
    box-sizing: border-box;
    width: 264px;
    height: 264px;
    background-color: #a8a8b3;
    border: 1px solid black;
    border-radius: 101px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    box-shadow: -26px 14px 20px -6px rgba(247, 245, 245, 0.1);
}

.moldura3{
    box-sizing: border-box;
    width: 264px;
    height: 264px;
    background-color: #a8a8b3;
    border: 1px solid black;
    border-radius: 101px;
    margin-left: 230px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    box-shadow: -26px 14px 20px -6px rgba(247, 245, 245, 0.1);
}

.textosobjet{
box-sizing: border-box;    
display: flex;
width: 100%;
margin-top: 35px;
justify-content: center;


}

.t1{
box-sizing: border-box;
width: 500px;
text-align: center;
font-size: 25px;
padding-left: 70px;
color: white;
}

.t2{
box-sizing: border-box;
width: 500px;
text-align: center;
font-size: 25px;
color: white;
}

.t3{
box-sizing: border-box;
width: 500px;
text-align: center;
font-size: 25px;
color: white;
}

.secaores{
box-sizing: border-box;
width: 1100px;
height: 400px;
background-color: #a8a8b3;
margin: 200px auto;
margin-bottom: 0;
display: flex;
border: 2px solid black;
border-radius: 80px;
}

.titulores{
box-sizing: border-box;  
width: 550px;
height: 400px;    
text-align: center;
font-size: 50px;
padding-top: 150px;

}

.iconres{
box-sizing: border-box; 
width: 550px;
height: 400px;    
padding-top: 15px;
padding-left: 25px;
}

.ultimotexto{
    width: 807px;
    margin: 50px auto;
    font-size: 30px;
    text-align: center;
    color: white;
}


.rodape{
    width: 100%;
    height: 35px;
    background-color: #121214;
    border-top: solid 1px #29292e;
    overflow: hidden;
   

}

.rodape > p{
    color: white;
    text-align: center;
    padding-top: 8px;

}